streamlit==1.31.0
pandas
numpy
plotly
matplotlib
seaborn
torch
transformers
accelerate
opencv-python-headless
librosa
soundfile
google-generativeai
scikit-learn
Pillow
SpeechRecognition
streamlit-mic-recorder
